<!DOCTYPE html>
<html>
    <head>
        <title>Django Pujer website</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Pujer website</a></h1>
        </div>

        <div>
            <p>published: 13.03.2022, 18:52</p>
            <h2><a href="">My first post</a></h2>
            <p>Dzień dobry wszystkim! To mój pierwszy post! </p>
        </div>

        <div>
            <p>published: 13.03.2022, 19:00</p>
            <h2><a href="">My second post</a></h2>
            <p>To mój drugi post na dzisiaj. Narazie nic sie nie zmienilo</p>
        </div>
    </body>
</html>